<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tc.dao.BlogMapper">
    
    <resultMap id="blogWithType" type="com.tc.po.Blog" autoMapping="true">
        <id property="id" column="id"/>
        <association property="type" javaType="com.tc.po.Type" columnPrefix="t_">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
        </association>
        <association property="user" javaType="com.tc.po.User" columnPrefix="u_">
            <id column="id" property="id"/>
            <result column="nickname" property="nickname"/>
            <result column="avatar" property="avatar"/>
        </association>
    </resultMap>
    <!-- 查询博客 附带类型 -->
    <select id="listBlog" resultMap="blogWithType" parameterType="com.tc.po.Blog">
        select
            b.id as id,
            b.title as title,
            b.recommend as recommend,
            b.update_time as updateTime,
            b.published as published,
            b.first_picture as firstPicture,
            b.views as views,
            b.description as description,
            t.id as t_id,
            t.name as t_name,
            u.id as u_id,
            u.nickname as u_nickname,
            u.avatar as u_avatar
        from
            t_blog b
        left join t_type t on b.type_id = t.id
        left join t_user u on b.user_id = u.id
        <where>
            <if test="title!=null and title !=''">
             and b.title like concat('%',#{title},'%')
            </if>
            <if test="typeId!=null">
             and b.type_id = #{typeId}
            </if>
            <if test="recommend!=null">
             and b.recommend = #{recommend}
            </if>
        </where>
    </select>
    <!-- 查询推荐博客 -->
    <select id="selectListBlogForRecommend" parameterType="java.lang.Long" resultType="com.tc.po.Blog">
      select
        t.id,
        t.title
      from
        t_blog t
      where t.recommend = 1
      order by t.update_time desc
      limit ${size}
    </select>
</mapper>